<% if current_user?(@user) %>
  <p>
    <i class="fas fa-thumbs-up"></i>
    <%= @likes_count %>
    <span>いいね！</span>
  </p>
<% else %>
  <% if @user.liked_by?(current_user) %>
    <%= link_to destroy_like_path(), method: :delete, local: false do %>
      <i class="fas fa-thumbs-up"></i>
      <%= @likes_count %>
      <span>いいね！</span>
    <% end %>
  <% else %>
    <%= link_to create_like_path(), method: :post, local: false do %>
      <i class="far fa-thumbs-up"></i>
      <%= @likes_count %>
      <span>いいね！</span>
    <% end %>
  <% end %>
<% end %>
