<li class="users-item">
  <%= link_to user, class: 'users-item__wrap' do %>
    <div class="users-item__img">
      <%= image_tag user.avatar.url, class: 'avatar' %>
    </div>
    <div class="users-item__intro">
      <%# <div class="users-item__top"> %>
        <div class="users-item__name">
          <i class="fas fa-user <%= user.gender == '男' ? 'man_icon' : 'woman_icon' %>"></i>
          <h2><%= user.name %></h2>
        </div>
        <div class="users-item__detail">
          <p><%= user.birthday %></p>
          <p><%= user.address %></p>
          <p>
            <i class="far fa-thumbs-up"></i>
            2,000いいね！
          </p>
        </div>
      <%# </div> %>
      <div class="users-item__under">
        <p><%= user.introduction %></p>
      </div>
    </div>
    <%# if current_user.admin? && !current_user?(user) %>
      <%#= link_to "削除", user, method: :delete, data: { confirm: "削除してもよろしいですか？" } %>
    <%# end %>
  <% end %>
</li>
