<li class="users-item">
  <%= link_to user, class: 'users-item__wrap' do %>
    <div class="users-item__img">
      <%= image_tag user.avatar.url, class: 'avatar' %>
    </div>
    <div class="users-item__intro">
      <div class="users-item__name">
        <i class="fas fa-user <%= user.gender == '男性' ? 'man_icon' : 'woman_icon' %>"></i>
        <h2><%= user.name %></h2>
      </div>
      <div class="users-item__detail">
        <p><%= user.age %>歳</p>
        <p><%= user.address %></p>
        <p>
          <i class="fas fa-thumbs-up"></i>
          <%= user.likes.count %>いいね！
        </p>
      </div>
      <div class="users-item__under">
        <p><%= user.introduction %></p>
      </div>
    </div>
  <% end %>
</li>
