<% provide(:title, 'アカウント登録') %>

<article class="signup inner">
  <h1>アカウント登録</h1>

  <ul>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <li>
        <%= f.label :name, "ニックネーム" %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :gender, "性別" %>
        <%= f.radio_button :gender, :man %>
        <%= f.label :man, "男性" %>
        <%= f.radio_button :gender, :woman  %>
        <%= f.label :woman, "女性" %>
        <%= f.radio_button :gender, :others  %>
        <%= f.label :others, "その他" %>
      </li>
      <li>
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
      </li>
      <li>
        <%= f.label :birthday, "生年月日" %>
        <%= f.date_select :birthday, {use_month_numbers: true} %>
      </li>

      <li>
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email %>
      </li>

      <li>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </li>

      <li>
        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation %>
      </li>

      <%= f.submit "登録" %>
    <% end %>
  </ul>
</article>
