<% provide(:title, 'アカウント登録') %>

<div class="signup inner">
  <h1>アカウント登録</h1>

  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "登録" %>
  <% end %>
</div>
