<% provide(:title, @title) %>
<div>
  <h1><%= @user.name %></h1>
  <%= link_to "プロフィールを見る", @user %>
</div>
<div>
  <%= render 'shared/stats' %>
</div>
<div>
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul>
      <%= render @users %>
    </ul>
  <% end %>
</div>
