<% provide(:title, @title) %>
<article class="inner">
  <h1><%= @user.name %><%= current_page?(following_user_path) ? 'フォローリスト' : 'フォロワーリスト' %></h1>
  <%= link_to "プロフィールに戻る", @user %>
  <div style="margin-bottom: 24px;">
    <%= render 'shared/stats' %>
  </div>
  <div>
    <% if @users.any? %>
      <ul>
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</article>
