<% provide(:title, "チャット") %>
<article class="chats-show inner">
  <h1>チャット</h1>

  <div class="chats-show__box">
    <div class="chats-show__name">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: 'avatar' %>
      <% else %>
        <%= image_tag ("sample_user"), class: 'avatar' %>
      <% end %>
      <p><%= @user.name %></p>
    </div>
    <table class="message">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
        <tbody>
          <tr>
            <th></th>
            <th class="my-message">
              <p style="text-align: left;"><%= chat.message %></p>
            </th>
          </tr>
        <% else %>
          <tr>
            <th class="your-message">
              <% if @user.avatar? %>
                <%= image_tag @user.avatar.url, class: 'avatar' %>
              <% else %>
                <%= image_tag ("sample_user"), class: 'avatar' %>
              <% end %>
              <p style="text-align: left;"><%= chat.message %></p>
            </th>
            <th></th>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
    <div class="chats-show__text">
      <%= form_with model: @chat, local: false do |f| %>
        <%= f.text_field :message, placeholder: 'メッセージを送信...' %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信する", class: 'btn-blue' %>
      <% end %>
    </div>
  </div>
</article>
