<footer class="footer <%= logged_in? ? "footer-login" : "footer-home" %>">
  <%= link_to "Workouter", root_path, class: 'footer-logo' %>
  <% if logged_in? %>
    <ul>
      <li><%= link_to "ユーザーを探す", users_path %></li>
      <li><%= link_to "チャット", chats_path %></li>
      <li><%= link_to "プロフィール", current_user %></li>
    </ul>
  <% else %>
  <% end %>
</footer>
