<header>
  <div class="inner">
    <%= link_to "Workouter", root_path %>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "プロフィール", current_user %></li>
          <li><%= link_to "編集", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
